@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial;
}

body {
  background-color: rgb(214, 214, 214);
}

nav {
  background-color: rgb(66, 84, 241);
  position: top;
  z-index: 9999;
  width: 100%;
  scroll-behavior: smooth;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

nav ul li {
  padding: 0.5rem;
}

nav img {
  width: 2.5rem;
}
nav h1 {
  color: red;
  font-size: 1.4rem;
}

nav h1:hover {
  color: #000000;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
}

nav ul li a:hover {
  color: #000000;
}

section#message {
  padding: 1.5rem;
  background-color: rgb(238, 15, 201);
  color: rgb(8, 56, 4);
  position: fixed;
  top: 3rem;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

span#close {
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
  color: rgb(8, 56, 4);
}

span#close:hover {
  color:  rgb(31, 2, 26);
  transform: scale(1.5);
}

header img {
  width: 100%;
  margin-top: 2.6rem;
  height: 700px;
}

main {
  margin: 0 10rem 0 10rem;
}

section#cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 5rem;
}

section#cards div.card {
  width: 20rem;
  box-shadow: 5px 5px 5px 5px #00000025;
  padding: 1rem;
  margin: 3rem 0 5rem 0;
  background-color: rgb(35, 42, 50);
}

section#cards div.card img {
  width: 100%;
}

section#cards h2 {
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 2.5rem;
  color: rgb(35, 42, 50);
}

section#cards div.card h3 {
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  color: rgb(214, 214, 214);
}

section#cards div.card p.id {
  margin-bottom: 1rem;
  color:  #b69c0a;
  font-weight: 700;
}

section#cards div.card p.tipo {
  margin-bottom: 1rem;
  color:  #b69c0a;
  font-weight: 700;
}

section#cards div.card p #id {
  margin-bottom: 1rem;
  color: rgb(214, 214, 214);
  font-weight: 300;
}

section#cards div.card p #tipo {
  margin-bottom: 1rem;
  color: rgb(214, 214, 214);
  font-weight: 300;
}

section#cards div.card a#detalhes {
  padding: 0.6rem;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  font-size: 1rem;
  background-color: rgb(167, 0, 0);
  border: solid 1px rgb(167, 0, 0);
  color:rgb(214, 214, 214);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  margin-top: 2rem;
}

section#cards div.card a#editar {
  padding: 0.6rem;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  font-size: 1rem;
  background-color: rgb(44, 72, 117);
  border: solid 1px rgb(44, 72, 117);
  color: rgb(214, 214, 214);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  margin-top: 1rem;
}

section#cards div.card a#apagar {
  padding: 0.6rem;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  font-size: 1rem;
  background-color: rgb(214, 214, 214);
  border: solid 1px rgb(214, 214, 214);
  color: rgb(167, 0, 0);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  margin-top: 1rem;
}

section#cards div.card a#detalhes:hover {
  background-color: rgb(228, 10, 10);
  color: #fff;
  border: solid 1px #fff;
}

section#cards div.card a#editar:hover {
  background-color: rgb(0, 98, 255);
  color: #fff;
  border: solid 1px #fff;
}

section#cards div.card a#apagar:hover {
  background-color: rgb(238, 196, 98);
  color: #fff;
}

footer {
  background-color: rgb(66, 84, 241);
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer p {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem;
}

footer p a {
  text-decoration: none;
  color: red;
  font-weight: 600;
}