@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial;
}

body {
  background-color: rgb(62, 106, 195);
}

nav {
  background-color: rgb(238, 196, 98);
  position: fixed;
  z-index: 9999;
  width: 100%;
  scroll-behavior: smooth;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

nav ul li {
  padding: 0.5rem;
}

nav img {
  width: 2.5rem;
}
nav h1 {
  color: #000000;
  font-size: 1.3rem;
  font-weight: 500;
}

nav h1:hover {
  color: rgb(161, 9, 34);
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 1.1rem;
}

nav ul li a:hover {
  color: rgb(161, 9, 34);
}

header img {
  width: 100%;
  margin-top: 3rem;
  height: 700px;
}

main {
  margin: 0 10rem 0 10rem;
}

section#cadastro {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  flex-wrap: wrap;
}

section#cadastro h2 {
  width: 100%;
  text-align: center;
  padding-bottom: 2rem;
  color: #000000;
  margin-top: 5rem;
  font-weight: 900;
}

section#cadastro form {
  width: 100%;
}

section#cadastro form input {
  width: 100%;
  padding: 0.7rem;
  font-size: 1rem;
  outline: none;
  border: solid 2px rgb(4, 6, 9);
  margin: 0 1rem 1rem 1rem;
}

section#cadastro form label {
  margin: 1rem;
  color: rgb(4, 6, 9);
  font-size: 1rem;
  font-weight: 500;
}

section#cadastro form button {
  padding: 0.6rem;
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 1rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: solid 2px #000000;
  color: #000000;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

section#cadastro form button:hover {
  color: rgb(161, 9, 34);
  background-color: rgb(238, 196, 98);
  border: solid 2px rgb(161, 9, 34);
}

.buttonDisable {
  padding: 0.6rem;
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 1rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: solid 2px #000000;
  color: #000000;
  font-weight: 900;
}

.buttonDisable:hover {
  color: rgb(161, 9, 34);
  background-color: rgb(238, 196, 98);
  border: solid 2px rgb(161, 9, 34);
}

#btnAtualizar {
  padding: 0.6rem;
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 1rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: solid 2px #000000;
  color: #000000;
  font-weight: 900;
}

#btnAtualizar:hover {
  color: rgb(161, 9, 34);
  background-color: rgb(238, 196, 98);
  border: solid 2px rgb(161, 9, 34);
}

footer {
  background-color: rgb(238, 196, 98);
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer p {
  width: 100%;
  color: #000000;
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem;
}

footer p a {
  text-decoration: none;
  color: rgb(62, 106, 195);
  font-weight: 600;
}